@model FilteredOrdersViewModel

@{
	ViewData["Title"] = "Index";
}

<h2 class="text-center text-primary"> Filters </h2>

<form asp-controller="Order" asp-action="Index" method="post">
	<div class="row flex-fill">

		<div class="form-group row col-2 mb-2">
			<input type="date" asp-for="From" class="form-control col-4" placeholder="From">
		</div>

		<div class="form-group row col-2 mb-2">
			<input type="date" asp-for="To" class="form-control col-4" placeholder="To">
		</div>

		<div class="form-group row col-2 mb-2">
			<select miltiple asp-for="@Model.OrderNumberList" class="form-select" asp-items=@Model.OrderNumberSelectList>
				<option disabled selected> Order Name </option>
			</select>
		</div>

		<div class="form-group row col-2 mb-2">
			<select miltiple asp-for="@Model.ProviderIdList" class="form-select" asp-items=@Model.ProviderIdSelectList>
				<option disabled selected> Provider Id </option>
			</select>
		</div>

		<div class="form-group row col-2 mb-2">
			<select miltiple asp-for="@Model.ProviderNameList" class="form-select" asp-items=@Model.ProviderNameSelectList>
				<option disabled selected> Provider Name </option>
			</select>
		</div>

		</br>

		<button type="submit" asp-controller="Order" asp-action="Index" class="btn btn-primary mb-2"> Filter </button>
		<button type="reset"  class="btn btn-primary"> Reset </button>

	</div>
</form>


<div class="container p-3">
	<div class="row pt-4">

		<div class="col-6">
			<h2 class="text-primary"> Orders List </h2>
		</div>

		<div class="col-6 text-end">
			<a asp-controller="Order" asp-action="Create" class="btn btn-primary">
				<i class="fas fa-plus"></i> New Order
			</a>
		</div>

	</div>

	<br />

	@if (Model.OrderList.Count() > 0)
	{
		<table class="table table-bordered table-striped" style="width:100%">

			<thead>
				<tr>
					<th> Number </th>
					<th> Date </th>
					<th> Provider </th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				@foreach (var order in Model.OrderList)
				{
					<tr>
						<td style="width:25%">
							<a asp-controller="Order" asp-action="Details" asp-route-id="@order.Id">
								@order.Number
							</a>
						</td>
						<td style="width:25%"> @order.Date.ToShortDateString() </td>
						<td style="width:25%"> @order.Provider.Name </td>

						<td class="text-center" style="width:25%">
							<div>
								<a asp-controller="Order" asp-action="Edit" asp-route-id="@order.Id" class="btn btn-primary mx-1">
									<i class="fas fa-edit"></i>
								</a>
								<a asp-controller="Order" asp-action="Delete" asp-route-id="@order.Id" class="btn btn-danger mx-1">
									<i class="fas fa-trash-alt"></i>
								</a>
							</div>
						</td>
					</tr>
				}
			</tbody>

		</table>
	}
	else
	{
		<p> No orders exist. </p>
	}
</div>